.menu-section {
    // background: #f6f6f6;
}

.groupX {
    font-size: 16px;
    margin: 20px 0;
    padding: 3px 15px 3px 15px;
    color: rgb(49, 46, 46);
    background-color: rgba(224, 224, 224, 0.96);
    text-transform: none;
    font-weight: 400;
    min-width:100px;
}
.md-button.left {
    border-radius: 10px 0 0 10px;
}
.md-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}
.md-button.right {
    border-radius: 0 10px 10px 0;
}
.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    transition: 0.3s;
}

.objs-menu, .objs-menu ul {
    // background-color: rgba(224, 224, 224, 0.96);
    list-style: none;
    padding: 0;
    margin-top: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-weight: 400;
    font-size: 16px;

    .menu-heading {
        display: block;
        line-height: 32px;
        margin: 0;
        padding: 8px 16px 0;
        text-align: left;
        width: 100%;
        font-weight: 300;
        background-color: rgba(193, 193, 193, 0.96);
    }

    li {
        margin: 0;
    }

    .menu-toggle-list {
        overflow: hidden;
        position: relative;
        z-index: 1;
        max-height: 5000px;
        -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
        -webkit-transition-property: max-height;

        a.md-button {
            display: block;
            padding: 0 16px 0 32px;
            text-transform: none;
            text-rendering: optimizeLegibility;
            font-weight: 500;
        }

        .md-button {
            display: block;
            padding: 0 16px 0 32px;
            text-transform: none;
        }
    }

    .menu-toggle-list.ng-hide {
        max-height: 0;
    }

    .md-button-toggle {
        .md-toggle-icon {
            display: block;
            margin-left: auto;
            vertical-align: middle;
            -webkit-transform: rotate(180deg);
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
        }

        .md-toggle-icon.toggled {
            -webkit-transform: rotateZ(0deg);
        }
    }

    .md-button {
        border-radius: 0;
        color: rgb(49, 46, 46);
        cursor: pointer;
        display: block;
        align-items: inherit;
        line-height: 40px;
        margin: 0;
        max-height: 40px;
        overflow: hidden;
        padding: 0px 16px;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        width: 100%;
    }

    .md-button:hover, .md-button:focus {
        background-color: rgba(193, 193, 193, 0.96);
        transition: 0.3s;
    }

    .md-button.active {
        background-color: rgba(193, 193, 193, 0.96);
    }

    .md-button.link-selected.active {
        background-color: rgba(193, 193, 193, 0.96);
    }

    menu-toggle span{
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.obj-view-content {
    background-color: #f8f8f8;
    height: 710px;
    padding-top: 1px;
    overflow-x: hidden;

    >.obj-name {
        background-color: rgb(230, 230, 230);
        padding: 15px;
        margin: 15px;
    }

    .obj-view-area {
        overflow-y: auto;
    }
}

.object-view {
    margin: 15px;
    font-size: 12px;
}

.prophide {
    display:none !important;
}

.propshow {
    display:flex !important;
}

.childhide {
    display:none !important;
}

.childshow {
    display:flex !important;
}
