<div layout="row">
    <md-content flex="30" role="navigation" style="height: 800px;">
        <ul class="objs-menu">
            <li ng-repeat="section in vm.sections"
                class="parent-list-item {{section.className || ''}}"
                ng-class="{'parentActive' : isSectionSelected(section)}">
                <!---
                <h2 class="menu-heading md-subhead"
                    ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">
                    {{ section.name }}
                </h2>
                --->
                <md-button class="menu-heading md-button-toggle"
                           ng-click="vm.toggleSectionOpen(section)"
                           aria-controls="docs-menu-{{section.name | nospace}}"
                           aria-expanded="{{vm.isSectionOpen(section)}}">
                    <div flex layout="row">
                        {{section | humanizeDoc}}
                        <span flex></span>
                        <span aria-hidden="true" class="md-toggle-icon"
                              ng-class="{'toggled' : vm.isSectionOpen(section)}">
                          <md-icon md-svg-src="md-toggle-arrow"></md-icon>
                        </span>
                    </div>
                    <span class="md-visually-hidden">
                        Toggle {{vm.isSectionOpen(section)? 'expanded' : 'collapsed'}}
                    </span>
                </md-button>

                <ul ng-show="vm.isSectionOpen(section)" ng-if="section.children" class="menu-toggle-list">
                    <li ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}">
                        <menu-toggle section="child"></menu-toggle>
                    </li>
                </ul>
            </li>
        </ul>
    </md-content>

    <md-content flex>
        <section layout="row" hide-xs layout-align="center center" class="menu-section">
            <md-button class="groupX left" ng-click="vm.Request()">
                <md-icon md-font-icon="icon-file-download"></md-icon>
                {{ vm.btnLabelRequest }}
            </md-button>
            <md-button class="groupX middle" ng-click="vm.Send()">{{ vm.btnLabelSend }}</md-button>
            <md-button class="groupX middle" ng-click="vm.Load()">{{ vm.btnLabelLoad }}</md-button>
            <md-button class="groupX middle" ng-click="vm.Save()">{{ vm.btnLabelSave }}</md-button>
            <md-button class="groupX right" ng-click="vm.Erase()">{{ vm.btnLabelErase }}</md-button>
        </section>

        <section hide-gt-xs layout-align="left center">
            <md-menu>
                <md-button class="md-icon-button" ng-click="vm.openUAVOOperationMenu($mdOpenMenu, $event)"
                           aria-label="Toggle Menu">
                    <md-icon md-svg-src="assets/images/ic_menu_24px.svg"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="vm.Request()">
                            <md-icon md-font-icon="icon-file-download"></md-icon>
                            {{ vm.btnLabelRequest }}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.Send()">{{ vm.btnLabelSend }}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.Load()">{{ vm.btnLabelLoad }}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.Save()">{{ vm.btnLabelSave }}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.Erase()">{{ vm.btnLabelErase }}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </section>

        <!-- Main View Area -->
        <md-content flex class="obj-view-content">
            <h2 class="obj-name">{{ vm.currentObjName }}</h2>
            <ui-view name="objectView" class="obj-view-area"></ui-view>
        </md-content>
    </md-content>
</div>
