<div flex class="object-view">
    <md-list ng-repeat="row in vm.rows">
        <md-subheader ng-show="row.properties.length > 1" class="md-no-sticky" ng-click="showprop=!showprop">{{ row.name }}</md-subheader>
        <md-list-item ng-class="{prophide:!showprop && row.properties.length > 1,propshow:showprop}" ng-repeat="property in row.properties">
            <div flex="50">{{ property.name }}</div>
            <div flex="25">
                <md-input-container>
                    <input ng-if="property.options==0" aria-label="property.name" type="{{ property.inputType }}" ng-model="property.value" style="width:50%">
                    <md-select ng-if="property.options" aria-label="property.name" ng-model="property.value">
                        <md-option ng-value="option" data-ng-repeat="option in property.options">{{ option }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="15">{{ property.units }}</div>
            <div flex="10">
                <span style="background:#d6d6d6;border-radius:3px;font-size:10px;padding:2px;color:#777">{{ property.type }}</span>
            </div>
        </md-list-item>

        <md-divider></md-divider>
    </md-list>
</div>
