<div flex class="object-view">
    <md-list>
        <md-subheader class="md-no-sticky" ng-click="showprop=!showprop">Flags</md-subheader>
        <md-list-item ng-class="{prophide:!showprop,propshow:showprop}">
            <md-checkbox ng-model="vm.flagTelemetryAcked" aria-label="Flight Telemetry Acked"></md-checkbox>
            <p>Flight Telemetry Acked</p>
        </md-list-item>
        <md-list-item ng-class="{prophide:!showprop,propshow:showprop}">
            <md-checkbox ng-model="vm.flagGCSTelemetryAcked" aria-label="GCS Telemetry Acked"></md-checkbox>
            <p>GCS Telemetry Acked</p>
        </md-list-item>
        <md-list-item ng-class="{prophide:!showprop,propshow:showprop}">
            <md-checkbox ng-model="vm.flagAccessReadOnly" aria-label="Flight Read Only"></md-checkbox>
            <p>Flight Read Only</p>
        </md-list-item>
        <md-list-item ng-class="{prophide:!showprop,propshow:showprop}">
            <md-checkbox ng-model="vm.flagGCSAccessReadOnly" aria-label="GCS Read Only"></md-checkbox>
            <p>GCS Read Only</p>
        </md-list-item>
        <md-list-item ng-class="{prophide:!showprop,propshow:showprop}">
            <md-checkbox ng-model="vm.flagUpdatePeriodic" aria-label="Flight Update periodically"
                         ng-click="vm.onFlagUpdatePeriodicClicked()"></md-checkbox>
            <p>Flight Update periodically</p>
        </md-list-item>
        <md-list-item ng-class="{prophide:!showprop,propshow:showprop}">
            <md-checkbox ng-model="vm.flagGCSUpdatePeriodic" aria-label="GCS Update periodically"
                         ng-click="vm.onFlagGCSUpdatePeriodicClicked()"></md-checkbox>
            <p>GCS Update periodically</p>
        </md-list-item>
        <md-list-item ng-class="{prophide:!showprop,propshow:showprop}">
            <md-checkbox ng-model="vm.flagUpdateOnChange" aria-label="Flight Update OnChange"
                         ng-click="vm.onFlagUpdateOnChangeClicked()"></md-checkbox>
            <p>Flight Update OnChange</p>
        </md-list-item>
        <md-list-item ng-class="{prophide:!showprop,propshow:showprop}">
            <md-checkbox ng-model="vm.flagGCSUpdateOnChange" aria-label="GCS Update OnChange"
                         ng-click="vm.onFlagGCSUpdateOnChangeClicked()"></md-checkbox>
            <p>GCS Update OnChange</p>
        </md-list-item>

        <md-divider></md-divider>
        </md-list>

        <md-list>
            <md-list-item>
                <div flex="50">Flight Telemetry Update Period</div>
                <div flex="25">
                    <md-input-container>
                        <input aria-label="Flight Telemetry Update Period" type="uin16" ng-model="vm.flightTelemetryUpdatePeriod" style="width:50%">
                    </md-input-container>
                </div>
                <div flex="10">
                    <span style="background:#d6d6d6;border-radius:3px;font-size:10px;padding:2px;color:#777">uin16</span>
                </div>
            </md-list-item>
        <md-divider></md-divider>
        </md-list>

    <md-list>
        <md-list-item>
            <div flex="50">GCS Telemetry Update Period</div>
            <div flex="25">
                <md-input-container>
                    <input aria-label="GCS Telemetry Update Period" type="uin16" ng-model="vm.gcsTelemetryUpdatePeriod" style="width:50%">
                </md-input-container>
            </div>
            <div flex="10">
                <span style="background:#d6d6d6;border-radius:3px;font-size:10px;padding:2px;color:#777">uin16</span>
            </div>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>

</div>
