<md-sidenav class="app-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            flex
            md-is-locked-open="$mdMedia('gt-sm')">

    <header class="sidenav-header">
        <span class="app-logo">
            <img src="{{ vm.appLogo }}" alt="{{ vm.appName }}">
        </span>
        <h1 class="app-logo-text md-heading">
            {{ vm.appName }}
        </h1>
    </header>

    <md-content flex role="navigation">
        <ul class="side-menu">
            <li ng-repeat="section in vm.navMenuSections"
                ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
            </li>
        </ul>
    </md-content>
</md-sidenav>

<div layout="column" tabIndex="-1" role="main" flex>
  <md-toolbar class="md-whiteframe-glow-z1 app-toolbar">
      <div class="md-toolbar-tools app-toolbar-tools" tabIndex="-1" flex>
          <md-button class="md-icon-button" ng-click="vm.openMenu()" hide-gt-sm aria-label="Toggle Menu">
              <md-icon md-svg-src="assets/images/ic_menu_24px.svg"></md-icon>
          </md-button>

          <span flex></span> <!-- use up the empty space -->

          <div telemetry-widget></div>

          <span flex></span> <!-- use up the empty space -->

          <div layout="row" layout-align="end center">
              <md-select
                  ng-model="vm.port_service.selectedPort"
                  placeholder="{{'Select a serial port'|translate}}">
                  <md-option ng-repeat="port in vm.port_service.ports">{{port}}</md-option>
              </md-select>

              <md-button class="btn_connect" ng-click="vm.onConnect()" style="background-color: #b3b3b3">
                  {{ vm.port_service.btnConnectLable }}
              </md-button>
          </div>

          <span flex></span> <!-- use up the empty space -->

          <md-menu>
              <md-button class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="Change language">
                  <md-icon md-svg-src="assets/images/ic_language_black_24px.svg"></md-icon>
                  <md-tooltip>{{ vm.tooltipChangeLang }}</md-tooltip>
              </md-button>
              <md-menu-content width="3">
                  <md-menu-item ng-repeat="(key, value) in vm.i18nLanguages">
                      <md-button ng-click="vm.setCurrentLanguage(key)" aria-label="{{ value }}">
                          {{ value }}
                      </md-button>
                  </md-menu-item>
              </md-menu-content>
          </md-menu>

      </div>
  </md-toolbar>

  <!-- Main Module View Area -->
  <ui-view name="module"></ui-view>
</div>
