.app-sidenav {
    background: #106CC8;
    max-width: 300px;

    md-content {
        background: transparent;
    }

    .md-locked-open {
        width:     272px;
        min-width: 272px;
        max-width: 272px;
    }

    > * {
        min-width: 218px;
    }

    .sidenav-header {
        background-color: #106CC8;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #185694), color-stop(1, #106cc8));
        background: -webkit-linear-gradient(top, #185694 0%, #106cc8 100%);
        border-bottom: 1px solid #267ED5;
        flex-shrink: 0;
        z-index: 2;

        .app-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 16px auto;
            img {
                height: 90px;
                width: auto;
                display: block;
                transform-origin: 50% 0;
                transform: scale(1.2);
            }
        }

        .app-logo-text {
            color: white;
            text-align: center;
            font-weight: 400;
            font-size: 26px;
        }
    }

    .side-menu {
        list-style: none;
        padding: 0;
        max-width: 100%;
        overflow-x: hidden;

        li {
            margin: 0;
        }

        > li:nth-child(1) {
            border-top: none;
        }

        > li {
            border-bottom: 1px solid #267ED5;
        }

        .md-button {
            border-radius: 0;
            color: white;
            cursor: pointer;
            display: block;
            align-items: inherit;
            line-height: 40px;
            margin: 0;
            max-height: 40px;
            overflow: hidden;
            padding: 0px 60px;
            text-align: left;
            text-decoration: none;
            white-space: normal;
            width: 100%;
        }
        .md-button:hover,
        .md-button:focus {
            background: #267ED5 !important;
        }

        button.md-button::-moz-focus-inner {
            padding: 0;
        }
        .md-button.active {
            background: #267ED5;
        }
    }
}

.app-toolbar {
    background: #f6f6f6 !important;
    color: #666 !important;
    z-index: 3;

    .app-toolbar-tools {
        max-width: 864px;
        padding: 0;
        margin: 0 24px;
        width: auto;

        md-icon {
            color: #666 !important;
        }

        .md-button:not([disabled]):hover {
            background-color: rgba(193, 193, 193, 0.96);
            transition: 0.3s;
        }
    }
}

.md-whiteframe-glow-z1 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 0px 2px 2px rgba(0, 0, 0, 0.098),
    0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
