<p translate>Dashboard</p>
<p>{{ vm.moduleName }}</p>

<div system-health style="width: 400px;"></div>

<div layout="row" flex>
    <md-whiteframe class="md-whiteframe-z3" flex layout="column">
        <md-toolbar flex="50">
            <h2 class="md-toolbar-tools">
                <span>FlightTelemetryStats</span>
            </h2>
        </md-toolbar>
        <md-content flex>
            <p>
                {{ "TxDataRate: " +
                vm.FlightTelemetryObj.getField("TxDataRate").getValue(0) }}
            </p>
            <p>
                {{ "TxBytes: " +
                vm.FlightTelemetryObj.getField("TxBytes").getValue(0) }}
            </p>
            <p>
                {{ "TxFailures: " +
                vm.FlightTelemetryObj.getField("TxFailures").getValue(0) }}
            </p>
            <p>
                {{ "TxRetries: " +
                vm.FlightTelemetryObj.getField("TxRetries").getValue(0) }}
            </p>
            <p>
                {{ "RxDataRate: " +
                vm.FlightTelemetryObj.getField("RxDataRate").getValue(0) }}
            </p>
            <p>
                {{ "RxBytes: " +
                vm.FlightTelemetryObj.getField("RxBytes").getValue(0) }}
            </p>
            <p>
                {{ "RxFailures: " +
                vm.FlightTelemetryObj.getField("RxFailures").getValue(0) }}
            </p>
            <p>
                {{ "RxSyncErrors: " +
                vm.FlightTelemetryObj.getField("RxSyncErrors").getValue(0) }}
            </p>
            <p>
                {{ "RxCrcErrors: " +
                vm.FlightTelemetryObj.getField("RxCrcErrors").getValue(0) }}
            </p>
            <p>
                {{ "Status: " +
                vm.FlightTelemetryObj.getField("Status").getValue(0) }}
            </p>
        </md-content>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-z3" flex layout="column">
        <md-toolbar flex="50">
            <h2 class="md-toolbar-tools">
                <span>GCSTelemetryStats</span>
            </h2>
        </md-toolbar>
        <md-content flex>
            <p>
                {{"TxDataRate: " +
                vm.GCSTelemetryStatsObj.getField("TxDataRate").getValue(0) }}
            </p>
            <p>
                {{"TxBytes: " +
                vm.GCSTelemetryStatsObj.getField("TxBytes").getValue(0) }}
            </p>
            <p>
                {{"TxFailures: " +
                vm.GCSTelemetryStatsObj.getField("TxFailures").getValue(0) }}
            </p>
            <p>
                {{"TxRetries: " +
                vm.GCSTelemetryStatsObj.getField("TxRetries").getValue(0) }}
            </p>
            <p>
                {{"RxDataRate: " +
                vm.GCSTelemetryStatsObj.getField("RxDataRate").getValue(0) }}
            </p>
            <p>
                {{"RxBytes: " +
                vm.GCSTelemetryStatsObj.getField("RxBytes").getValue(0) }}
            </p>
            <p>
                {{"RxFailures: " +
                vm.GCSTelemetryStatsObj.getField("RxFailures").getValue(0) }}
            </p>
            <p>
                {{"RxSyncErrors: " +
                vm.GCSTelemetryStatsObj.getField("RxSyncErrors").getValue(0) }}
            </p>
            <p>
                {{"RxCrcErrors: " +
                vm.GCSTelemetryStatsObj.getField("RxCrcErrors").getValue(0) }}
            </p>
            <p>
                {{"Status: " +
                vm.GCSTelemetryStatsObj.getField("Status").getValue(0) }}
            </p>
        </md-content>
    </md-whiteframe>
</div>
